In [1]:
import numpy as np
import pandas as pd
import os

"""
This will load a csv file and return a pandas dataframe
@input: filepath:: string :: filepath of csv file
@input: names:: list :: column names list 
"""
def load_csv(filepath, names=None):
    filepath =  os.path.abspath(filepath)
    if os.path.exists(filepath):
        df = pd.read_csv(filepath, header=None, names=names, encoding='utf-8')
        return df
    
    return None

filepath = "data/credit.csv"
df = load_csv(filepath)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
1,1.0,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
2,2.0,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
3,3.0,104.593,7075,514,4,71,11,Male,No,No,Asian,580
4,4.0,148.924,9504,681,3,36,11,Female,No,No,Asian,964

,1,2,3,4,5,6,7,8,9,10,...,5802,5803,5804,5805,5806,5807,5808,5809,5810,5811
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0